.card
  .card-header.d-flex.align-items-center
    %span Listing Group Cads

    = link_to 'New Group cad', new_group_cad_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Groupid
        %th Cadid
        %th
    %tbody
      - @group_cads.each do |group_cad|
        %tr
          %td= group_cad.groupId
          %td= group_cad.cadId
          %td
            .btn-toolbar.float-end
              = link_to 'Show', group_cad, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_group_cad_path(group_cad), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', group_cad, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'