.card
  .card-header.d-flex.align-items-center
    %span Listing Attachment Processes

    = link_to 'New Attachment process', new_attachment_process_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Attachmentid
        %th Processid
        %th
    %tbody
      - @attachment_processes.each do |attachment_process|
        %tr
          %td= attachment_process.attachmentId
          %td= attachment_process.processId
          %td
            .btn-toolbar.float-end
              = link_to 'Show', attachment_process, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_attachment_process_path(attachment_process), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', attachment_process, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'