.card.mb-3
  -# Layout for Search-Filter
  .card-header.d-flex.align-items-center
    %a{ "data-bs-toggle": "collapse", href: "#filterOptions", class: 'btn btn-outline-secondary'}
      %span Filtering Options ▲▼

  #filterOptions.collapse.show
    .card-body
      = form_tag cads_path, method: :get, class: 'd-flex flex-column px-3' do 
        .row
          .form-group.col-md-4.mb-2
            = label_tag :name, "File Name:"
            = text_field_tag :name, params[:name], class: 'form-control', placeholder: 'File Name'
          .form-group.col-md-4.mb-2
            = label_tag :file_type, "File Type:"
            = select_tag :file_type, options_for_select([['Part File', 'Part File'], ['Build File', 'Build File'], ['Other', 'Other']], params[:file_type]), include_blank: 'Select File Type', class: 'form-select'
          .form-group.col-md-4.mb-2
            = label_tag :createdBy, "File Creator:"
            = text_field_tag :createdBy, params[:createdBy], class: 'form-control', placeholder: 'Creator'
          .form-group.col-md-4.mb-2
            = label_tag :modifiedBy, "Last Modifier:"
            = text_field_tag :modifiedBy, params[:modifiedBy], class: 'form-control', placeholder: 'Last Modifier'
          .form-group.col-md-4.mb-2
            = label_tag :machineId, "Machine:"
            = select_tag :machineId, options_for_select(Machine.pluck(:name, :id), params[:machineId]), include_blank: 'Select Machine', class: 'form-select'
          .form-group.col-md-4.mb-2
            = label_tag :created_at, "Creation Date:"
            .row
              .col-md-6.mb-2
                = date_field_tag :created_at_min, params[:created_at_min], class: 'form-control'
              .col-md-6.mb-2
                = date_field_tag :created_at_max, params[:created_at_max], class: 'form-control'   
          .form-group.col-md-4.mb-2
            = label_tag :updated_at, "Last Update:"
            .row
              .col-md-6.mb-2
                = date_field_tag :updated_at_min, params[:updated_at_min], class: 'form-control'
              .col-md-6.mb-2
                = date_field_tag :updated_at_max, params[:updated_at_max], class: 'form-control'    
          .form-group.col-md-4.mb-2
            = label_tag :archived, "Archived"
            = select_tag :archived, options_for_select([['Yes', 'yes'], ['No', 'no']], params[:archived]), include_blank: 'Select Archived', class: 'form-select'
        
        .d-flex.justify-content-between.mt-2
          = link_to "Clear Filters", cads_path, class: 'btn btn-secondary'
          = submit_tag "Apply Filters", class: 'btn btn-primary'

-# Layout for the display table for CADS
.card.mb-2
  .card-header.d-flex.align-items-center
    %span Listing Designs
    = link_to 'New CAD', new_cad_path, class: 'btn btn-outline-secondary ms-auto'

  -# Layout for filtering show table in ascending and descending order
  %table.table.table-striped.table-hover
    %thead.table-secondary
      %tr
        %th 
          File name
          = link_to '▲', request.params.merge(sort: 'name', order: 'asc'), class: 'text-decoration-none text-primary'
          = link_to '▼', request.params.merge(sort: 'name', order: 'desc'), class: 'text-decoration-none text-primary'
        %th 
          File Type
          = link_to '▲', request.params.merge(sort: 'file_type', order: 'asc'), class: 'text-decoration-none text-primary'
          = link_to '▼', request.params.merge(sort: 'file_type', order: 'desc'), class: 'text-decoration-none text-primary'
        %th 
          Machine
          = link_to '▲', request.params.merge(sort: 'machineId', order: 'asc'), class: 'text-decoration-none text-primary'
          = link_to '▼', request.params.merge(sort: 'machineId', order: 'desc'), class: 'text-decoration-none text-primary'
        %th 
          Created By
          = link_to '▲', request.params.merge(sort: 'createdBy', order: 'asc'), class: 'text-decoration-none text-primary'
          = link_to '▼', request.params.merge(sort: 'createdBy', order: 'desc'), class: 'text-decoration-none text-primary'
        %th 
          Modified By
          = link_to '▲', request.params.merge(sort: 'modifiedBy', order: 'asc'), class: 'text-decoration-none text-primary'
          = link_to '▼', request.params.merge(sort: 'modifiedBy', order: 'desc'), class: 'text-decoration-none text-primary'
        %th
          Archived
        %th

    %tbody
      - if @cads.empty? || @cads.nil?
        %tr
          %td{:colspan => 10, :style => "text-align: center; font-weight: bold;"}= "No CADs found"
      - @cads.each do |cad|
        %tr
          %td= cad.name
          %td= cad.file_type
          %td= cad.machine.name
          %td= cad.created_by.givenname
          %td= cad.modified_by.givenname
          %td= cad.archived
          %td
            .btn-toolbar.float-end
              = link_to 'Show', cad, class: 'btn btn-outline-secondary btn-sm'
