.card
  .card-header.d-flex.align-items-center
    %span Listing Group Materials

    = link_to 'New Group material', new_group_material_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Groupid
        %th Materialid
        %th
    %tbody
      - @group_materials.each do |group_material|
        %tr
          %td= group_material.groupId
          %td= group_material.materialId
          %td
            .btn-toolbar.float-end
              = link_to 'Show', group_material, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_group_material_path(group_material), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', group_material, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'