.card
  .card-header.d-flex.align-items-center
    %span Listing Machine Parameters

    = link_to 'New Machine parameter', new_machine_parameter_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Processid
        %th Parameterid
        %th
    %tbody
      - @machine_parameters.each do |machine_parameter|
        %tr
          %td= machine_parameter.processId
          %td= machine_parameter.parameterId
          %td
            .btn-toolbar.float-end
              = link_to 'Show', machine_parameter, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_machine_parameter_path(machine_parameter), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', machine_parameter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'