.card
  .card-header.d-flex.align-items-center
    %span Listing Attachments

    = link_to 'New Attachment', new_attachment_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Name
        %th File
        %th
    %tbody
      - @attachments.each do |attachment|
        %tr
          %td= attachment.name
          %td= attachment.file
          %td
            .btn-toolbar.float-end
              = link_to 'Show', attachment, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_attachment_path(attachment), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'