.card
  .card-header.d-flex.align-items-center
    %span Listing Group Builds

    = link_to 'New Group build', new_group_build_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Groupid
        %th Buildid
        %th
    %tbody
      - @group_builds.each do |group_build|
        %tr
          %td= group_build.groupId
          %td= group_build.buildId
          %td
            .btn-toolbar.float-end
              = link_to 'Show', group_build, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_group_build_path(group_build), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', group_build, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'