.card.mb-3
  .card-header.d-flex.align-items-center
    %span Add builds to: #{@group.name}
    = link_to 'Back', edit_group_path(@group), class: 'btn btn-outline-secondary ms-auto'

  #filterOptions.show
    .card-body
      = form_tag request.fullpath , method: :get, class: 'd-flex flex-column px-2' do 
        .row
          .form-group.col-md-4.mb-2
            = label_tag :name, "Build Name:"
            = text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Name'

        .justify-content-between.mt-2
          = submit_tag "Search", class: 'btn btn-primary'
          = link_to "Clear", new_group_build_path(@group), class: 'btn btn-secondary'
.card.mb-2
  %table.table.table-striped.table-hover
    %thead.table-secondary
      %tr
        %th
          Build Name
          = link_to '▲', request.params.merge(sort: 'name', order: 'asc'), class: 'text-decoration-none text-primary'
          = link_to '▼', request.params.merge(sort: 'name', order: 'desc'), class: 'text-decoration-none text-primary'
        %th
          Machine
        %th
          Project Name
        %th
          Material
        %th
    %tbody
      - @group_builds.each do |group_build|
        %tr
          - build = group_build.build
          %td= build.name
          %td= build.machine.name
          %td= build.build_project.name
          %td= build.material.name
          %td
            .btn-toolbar.float-end
              = button_to 'Remove', group_build_path(group_build), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
      - @builds.each do |build|
        %tr
          %td= build.name
          %td= build.machine.name
          %td= build.build_project.name
          %td= build.material.name
          %td
            .btn-toolbar.float-end
              = form_with url: group_builds_path, method: :post, scope: :group_build do |form|
                = form.hidden_field :groupId, value: @group.id
                = form.hidden_field :buildId, value: build.id
                = form.submit 'Add', class: 'btn btn-outline-secondary btn-sm'